[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdtree-git-plugin"]
	path = .vim/bundle/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule ".vim/bundle/vim-clang-format"]
	path = .vim/bundle/vim-clang-format
	url = git@github.com:rhysd/vim-clang-format.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-ispc"]
	path = .vim/bundle/vim-ispc
	url = git@github.com:jez/vim-ispc
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = git@github.com:Shougo/vimproc.vim.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/bundle/tsuquyomi"]
	path = .vim/bundle/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule ".vim/bundle/ensime-vim"]
	path = .vim/bundle/ensime-vim
	url = git@github.com:ensime/ensime-vim.git
