URxvt.scrollBar: false
urxvt.font: xft:DejavuSansMono:pixelsize=12
URxvt.letterSpace: -1

*background: #282828
*foreground: #eceff1

! Black + DarkGrey
*color0: #1d272b
*color8: #263238

! DarkRed + Red
*color1: #c62828
*color9: #cc241d

! DarkGreen + Green
*color2: #2e7d32
*color10: #43a0f7

! DarkYellow + Yellow
*color3: #f57f17
*color11: #fdd835

! DarkBlue + Blue
*color4: #1565c0
*color12: #1e88e5

! DarkMagenta + Magenta
*color5: #6a1b9a
*color13: #8e24aa

! Dark Cyan + Cyan
*color6: #303f9f
*color14: #3949ab

! LightGrey + White
*color7: #eceff1
*color15: #fafdff
